In [438]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading All dataset, 10,000 records
data_set = pd.read_csv("heart_disease.csv")
data_set.shape

(10000, 21)

In [439]:
# data_set = data_set[data_set['Age'] <= 30]

# print(data_set.shape)
# Calculate the number of missing values in each column of the filtered DataFrame
missing_data_set = data_set.isna().sum()

# # Display the result
missing_data_set

Age                       29
Gender                    19
Blood Pressure            19
Cholesterol Level         30
Exercise Habits           25
Smoking                   25
Family Heart Disease      21
Diabetes                  30
BMI                       22
High Blood Pressure       26
Low HDL Cholesterol       25
High LDL Cholesterol      26
Alcohol Consumption     2586
Stress Level              22
Sleep Hours               25
Sugar Consumption         30
Triglyceride Level        26
Fasting Blood Sugar       22
CRP Level                 26
Homocysteine Level        20
Heart Disease Status       0
dtype: int64

In [440]:
# Select only the numeric columns (float64 and int64) from the filtered DataFrame
numeric_cols = data_set.select_dtypes(include=['float64', 'int64'])

# Calculate the number of missing values in each numeric column
# numeric_cols_missing = numeric_cols.isna().sum()

# Display the result

In [441]:
# Fill missing values in numeric columns with their respective column means
data_set.loc[:, numeric_cols.columns] = numeric_cols.apply(lambda col: col.fillna(col.mean()))

# Generate summary statistics for the updated DataFrame and transpose the result
summary_stats = data_set.describe().T

# Display the summary statistics
# summary_stats

In [442]:
print(data_set.shape)
data_set = data_set.dropna()
# Check the number of rows and columns
print(data_set.shape)

# data_set.to_csv("heart_disease_cleaned.csv", index=False)

(10000, 21)
(7229, 21)

In [443]:
# df.head()

In [444]:
#Select all the categorical columns
categorical_data = [single_column for single_column in data_set.columns if data_set[single_column].dtypes == "O"]
categorical_data

['Gender',
 'Exercise Habits',
 'Smoking',
 'Family Heart Disease',
 'Diabetes',
 'High Blood Pressure',
 'Low HDL Cholesterol',
 'High LDL Cholesterol',
 'Alcohol Consumption',
 'Stress Level',
 'Sugar Consumption',
 'Heart Disease Status']

In [445]:
multi_cat_o = [] # More than 2 categories
binary_cat_o = [] # Just 2 columns
for i in categorical_data:
    if len(data_set[i].value_counts())>2:
        multi_cat_o.append(i)
    else:
        binary_cat_o.append(i)

print(f'Multiple Categories: {multi_cat_o} \n\n\n')
print(f'Binary Categories: {binary_cat_o} \n\n\n')

Multiple Categories: ['Exercise Habits', 'Alcohol Consumption', 'Stress Level', 'Sugar Consumption']



Binary Categories: ['Gender', 'Smoking', 'Family Heart Disease', 'Diabetes', 'High Blood Pressure', 'Low HDL Cholesterol', 'High LDL Cholesterol', 'Heart Disease Status']

In [446]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
for i in binary_cat_o:
    data_set[i] = label_encoder.fit_transform(data_set[i])

onehot = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit and transform all categorical columns at once
multi_cat_encoded = onehot.fit_transform(data_set[multi_cat_o])

# Get feature names
feature_names = onehot.get_feature_names_out(multi_cat_o)

multiple_encoded = pd.DataFrame(multi_cat_encoded, columns=feature_names)

# # Convert to DataFrame
# df = pd.DataFrame(multi_cat_encoded, columns=feature_names)
data_set = data_set.drop(columns=multi_cat_o).reset_index(drop=True)

data_set

data_set = pd.concat([data_set, multiple_encoded], axis=1)

data_set

,Age,Gender,Blood Pressure,Cholesterol Level,Smoking,Family Heart Disease,Diabetes,BMI,High Blood Pressure,Low HDL Cholesterol,...,Exercise Habits_Medium,Alcohol Consumption_High,Alcohol Consumption_Low,Alcohol Consumption_Medium,Stress Level_High,Stress Level_Low,Stress Level_Medium,Sugar Consumption_High,Sugar Consumption_Low,Sugar Consumption_Medium
0,56.0,1,153.0,155.0,1,1,0,24.991591,1,1,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,69.0,0,146.0,286.0,0,1,1,25.221799,0,1,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
2,46.0,1,126.0,216.0,0,0,0,29.855447,0,1,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,32.0,0,122.0,293.0,1,1,0,24.130477,1,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,60.0,1,166.0,242.0,1,1,1,20.486289,1,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7224,68.0,0,169.0,291.0,1,0,0,22.839718,0,1,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
7225,73.0,0,144.0,191.0,1,1,1,39.459620,0,0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
7226,25.0,0,136.0,243.0,1,0,0,18.788791,1,0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
7227,23.0,1,142.0,299.0,1,0,1,34.964026,1,0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
7228,38.0,0,128.0,193.0,1,1,1,25.111295,0,1,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [447]:
X = data_set.drop(columns = "Heart Disease Status", axis=1)
Y= data_set["Heart Disease Status"]

In [448]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

print(X_train.shape)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
print(X_train)

(5783, 28)
[[-0.72702069 -1.01060438  1.59527099 ... -0.71270826  1.37584391
  -0.6820289 ]
 [-0.50787395  0.98950689  0.28893319 ... -0.71270826  1.37584391
  -0.6820289 ]
 [ 1.24529998 -1.01060438  0.28893319 ... -0.71270826  1.37584391
  -0.6820289 ]
 ...
 [ 1.46444672 -1.01060438  0.1185413  ... -0.71270826  1.37584391
  -0.6820289 ]
 [-0.56266063  0.98950689 -0.05185059 ... -0.71270826  1.37584391
  -0.6820289 ]
 [ 1.51923341  0.98950689 -0.90381003 ...  1.40309865 -0.72682663
  -0.6820289 ]]

In [449]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
from imblearn.over_sampling import SMOTE
import pandas as pd

# Select features and target column
X = data_set.drop(columns=['Heart Disease Status'])
y = data_set['Heart Disease Status']

# Split data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Apply SMOTE to balance classes
smote = SMOTE(sampling_strategy='auto', random_state=42)
X_train, y_train = smote.fit_resample(X_train, y_train)

# Standardize features (important for KNN)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize and train KNN model with weighted distances
k = 13 # Choose the number of neighbors
knn = KNeighborsClassifier(n_neighbors=k, weights='distance')
knn.fit(X_train, y_train)

# Make predictions
y_pred = knn.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'KNN Accuracy: {accuracy:.2f}')
print(classification_report(y_test, y_pred))

# Function to predict new data from a file
def predict_new_data(new_data_path, threshold=0.4):
    new_data = pd.read_csv(new_data_path)
    new_data = new_data.drop(columns=['Heart Disease Status'], errors='ignore')  # Ensure target column is removed if present
    new_data = scaler.transform(new_data)  # Apply the same scaling
    probs = knn.predict_proba(new_data)[:, 1]  # Get probability for class 1
    return (probs > threshold).astype(int)

# Function to predict from a DataFrame
def predict_from_dataframe(df, threshold=0.4):
    df = scaler.transform(df)  # Apply the same scaling
    probs = knn.predict_proba(df)[:, 1]  # Get probability for class 1
    return (probs > threshold).astype(int)

# Example usage:
# predictions = predict_new_data("new_heart_disease_data.csv")
# print(predictions)

KNN Accuracy: 0.52
              precision    recall  f1-score   support

           0       0.79      0.54      0.64      1146
           1       0.20      0.46      0.28       300

    accuracy                           0.52      1446
   macro avg       0.50      0.50      0.46      1446
weighted avg       0.67      0.52      0.56      1446

In [450]:
sample_data = pd.DataFrame({
  'Age': [45.0],
  'Gender': [1],  # Male
  'Blood Pressure': [140.0],
  'Cholesterol Level': [220.0],
  'Smoking': [0],  # Non-smoker
  'Family Heart Disease': [1],  # Has family history
  'Diabetes': [0],  # No diabetes
  'BMI': [28.5],
  'High Blood Pressure': [0],
  'Low HDL Cholesterol': [1],
  'High LDL Cholesterol': [1],
  'Sleep Hours': [7.0],
  'Triglyceride Level': [245.0],
  'Fasting Blood Sugar': [115.0],
  'CRP Level': [7.0],
  'Homocysteine Level': [12.0],
  'Exercise Habits_High': [1.0],
  'Exercise Habits_Low': [0.0],
  'Exercise Habits_Medium': [0.0],
  'Alcohol Consumption_High': [0.0],
  'Alcohol Consumption_Low': [1.0],
  'Alcohol Consumption_Medium': [0.0],
  'Stress Level_High': [0.0],
  'Stress Level_Low': [1.0],
  'Stress Level_Medium': [0.0],
  'Sugar Consumption_High': [0.0],
  'Sugar Consumption_Low': [1.0],
  'Sugar Consumption_Medium': [0.0]
})
result = predict_from_dataframe(sample_data)
print(result)

[0]

In [451]:
# Example for a single DataFrame input:
sample_data = pd.DataFrame({
    'Age': [29.0],  # Higher age
    'Gender': [1],  # Male
    'Blood Pressure': [170.0],  # Very high blood pressure
    'Cholesterol Level': [320.0],  # Significantly high cholesterol
    'Smoking': [1],  # Smoker
    'Family Heart Disease': [1],  # Has family history
    'Diabetes': [1],  # Has diabetes
    'BMI': [38.0],  # Severely obese
    'High Blood Pressure': [1],
    'Low HDL Cholesterol': [1],
    'High LDL Cholesterol': [1],
    'Sleep Hours': [4.0],  # Very poor sleep
    'Triglyceride Level': [400.0],  # Very high triglycerides
    'Fasting Blood Sugar': [180.0],  # Significantly high fasting blood sugar
    'CRP Level': [15.0],  # Very high inflammation marker
    'Homocysteine Level': [22.0],  # Very high homocysteine
    'Exercise Habits_High': [0.0],
    'Exercise Habits_Low': [1.0],  # Low exercise
    'Exercise Habits_Medium': [0.0],
    'Alcohol Consumption_High': [1.0],  # High alcohol consumption
    'Alcohol Consumption_Low': [0.0],
    'Alcohol Consumption_Medium': [0.0],
    'Stress Level_High': [1.0],  # High stress
    'Stress Level_Low': [0.0],
    'Stress Level_Medium': [0.0],
    'Sugar Consumption_High': [1.0],  # High sugar consumption
    'Sugar Consumption_Low': [0.0],
    'Sugar Consumption_Medium': [0.0]
})
result = predict_from_dataframe(sample_data)
print(result)

[1]

In [452]:
print(y.value_counts())

Heart Disease Status
0    5761
1    1468
Name: count, dtype: int64